.basket-two {
    width: 200px;
    height: 200px;
    background-color: #934f4f00;
    display: flex;
    align-items: end;
    position: relative;
    top: -310px;
    left: 40px;
    z-index: 4;
}

.basket-two .beef {
    display: block;
    position: static;
}
  
.basket-two .chicken {
    display: block;
    position: static;
}
  
.basket-two .cheeps {
    display: block;
    position: static;
}

.basket-two .product:nth-child(2) {
    transform: translatex(-10px);
}
  
.basket-two .product:nth-child(3) {
    transform: translatex(-20px);
}
  
.basket-two .product:nth-child(4) {
    transform: translatex(-30px);
}