.shelfThree {
    position: relative;
    top: -115px;
    left: -75px;
    display: flex;
    align-items: end;
}

.pineapple {
    position: absolute;
      left: 85px;
}
  
.banana {
    position: absolute;
    left: 130px;
}
  
.apple {
    position: absolute;
    left: 190px;
}
  
.salad {
    position: absolute;
    left: 230px;
}